@{
    ViewBag.Title = "List";
    @model TrabalhoHbaseV2.Models.ListModel
}


<div class="row">
    <div class="col-md-12">
        <h2>List</h2>
    </div>
    <form method="post" action="@Url.Action("Buscar", "Home")">
        <div class="form-group">
            <label for="filtro">Filtro:</label>
            <input type="text" name="filtro" class="form-control" id="filtro" placeholder="Digite algo...">
            <br />
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Nome</th>
                <th scope="col">Ano</th>
                <th scope="col">Mês</th>
                <th scope="col">CPF</th>
                <th scope="col">Jetons</th>
                <th scope="col">Salário</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Funcionarios)
            {
                <tr>
                    <td><a href="/?key=@item.Key">@item.Key</a></td>
                    <td>@item.Nome</td>
                    <td>@item.Ano</td>
                    <td>@item.Mes</td>
                    <td>@item.Cpf</td>
                    <td>@item.Jetons</td>
                    <td>@item.Salario</td>
                </tr>
            }
        </tbody>
    </table>


</div>
